@import url(reset.css);

body {
  font-family: "Inter", "Arial", "Helvetica", "sans-serif";
  font-weight: 400;
  font-size: 16px;
}

.content-section {
  box-sizing: border-box;
  margin: 0 auto;
  width: 360px;
}

.content-section_theme_dark {
  background-color: #131313;
  color: #f5f5f5;
}

.content-section_theme_bright {
  background-color: #fee42a;
  color: #131313;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.header {
  padding: 24px 20px;
  display: flex;
  gap: 168px;
}

.header__logo {
  width: 78.453px;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
}

.header__menu-item {
  text-decoration: underline;
}

.header__menu-item_active {
  text-decoration: none;
}

.header__menu-link {
  text-decoration: inherit;
  line-height: 19.2px;
  color: #f5f5f5;
}

.cover {
  background-image: url(../images/cover.svg);
  background-repeat: no-repeat;
  background-size: 95% auto;
  background-position-y: bottom;
  background-position-x: right;
}

.cover__title {
  padding: 0 24px 0 20px;
  font-weight: 400;
  color: #fff;
  font-size: 72px;
  line-height: 72px;
  font-family: "EB Garamond", "Arial", "Helvetica", "serif";
}

.intro {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.intro__heading {
  display: flex;
  color: #ccc;
  line-height: 120%;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
}

.intro__date {
  white-space: nowrap;
}

.intro__main-text {
  line-height: 135%;
}

.reasons {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.content-section__subtitle {
  line-height: 32.2px;
  font-weight: 500;
  font-family: "EB Garamond", "Arial", "Helvetica", "serif";
  font-size: 28px;
}

.content-section__introduction {
  font-size: 20px;
  line-height: 27px;
}

.content-section__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 14px;
}

.content-section__list-item {
  line-height: 21.6px;
}

.content-section__list-accent {
  font-weight: 700;
}

.how-to {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cards-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 20px;
  border-radius: 30px;
}

.card_theme_dark {
  background-color: #343434;
  color: #f5f5f5;
}

.card_theme_bright {
  background-color: #fee42a;
  color: #131313;
}

.card__author-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card__author-name {
  font-weight: 700;
  line-height: 21.6px;
}

.card__title {
  font-family: "EB Garamond", "Arial", "Helvetica", "serif";
  font-size: 22px;
  font-weight: 500;
  line-height: 29.7px;
}

.card__text {
  line-height: 21.6px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #fee42a;
}

.footer__links {
  display: flex;
  gap: 16px;
  font-size: 14px;
}
